@import '~@nio/ui-kit/dist/nio.css';
@import '~font-awesome/css/font-awesome.min.css';
@import './assets/styles/vars';
@import './assets/styles/base';

/*    place your app-specific css below (or make component/view   */
/*    specific scss files and throw them in the css folder)       */

.data-holder {
  border-top: 1px solid $gray-lightest;
  border-bottom: 1px solid $gray-lightest;
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5px;
  margin-bottom: 15px;
  white-space: nowrap;
}

.toggle-row {
  border-bottom: 1px solid $gray-lightest;
}

#chart-holder {
  height: 250px;
}

.tooltip {
  padding: 5px;
  font-size: 12px;
}

.eyecon {
  color: $gray-lighter;
}


.nozzle-sort {
  cursor: pointer;
  .sortcon {
    color: $gray-lighter;
    font-size: 11px;
    margin-top: 5px;

    &.active {
      color: $brand-success;
    }
  }
}
