@import '~@nio/ui-kit/dist/nio.css';
@import '~font-awesome/css/font-awesome.min.css';
@import './assets/styles/vars';
@import './assets/styles/base';

/*    place your app-specific css below (or make component/view   */
/*    specific scss files and throw them in the css folder)       */

.data-holder {
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5px;
  white-space: nowrap;
  position:relative;
}

.border-top {
  border-top: 1px solid $gray-lightest;
}

.border-bottom {
  border-bottom: 1px solid $gray-lightest;
}

.no-border {
  border: none !important;
}

.no-height {
  height: auto !important;
}

.toggle-row,
.alert-row,
.new-phone-row {
  padding: 5px 0;
  cursor: pointer;
}

.nozzle-chooser {
  .toggle-row {
    .fa-check {
      color: $gray-lightest;
    }

    &.true {
      .fa-check {
        color: $brand-success;
      }
    }
  }
}

.chooser {
  &:not(:active) {
    .toggle-row {
      .fa-check {
        color: $gray-lightest;
      }
      &.true {
        .fa-check {
          color: $brand-success;
        }
      }
    }
  }
  &:active {
    .toggle-row {
      .fa-check {
        color: $gray-lightest;
      }

      &.true {
        .fa-check {
          color: $brand-success;
        }
      }
      &:not(:active) {
        .fa-check {
          color: $gray-lightest !important;
        }
      }
      &:active {
        .fa-check {
          color: $brand-success !important;
        }
        &.true {
          .fa-check {
            color: $gray-lightest !important;
          }
        }
      }
    }
  }
}


#chart-holder {
  margin-top: 5px;
  height: 250px;
}

.tooltip {
  padding: 5px;
  font-size: 12px;
}

.pageheader {
  height: 48px;
  @media screen and (max-width: 576px) {
    height: auto;
  }
}
.text-xs {
  line-height: 1;
  font-size: 10px;
}

.nozzle-cell {
  width: 10%;
  white-space: nowrap;
  text-align: center;
  &:first-child {
    text-align:left !important;
  }
}

.nozzle-sort {
  cursor: pointer;
  .sortcon {
    color: $gray-lighter;
    font-size: 10px;
    margin-top: 0;

    &.active {
      color: $brand-success;
    }
  }
}

.text-lightgrey {
  color: $gray-lightest;
}

.threshold-cell {
  width: 11.1111111111111%;
}

.form-control.is-invalid {
  background-image: none !important;
}

